@import '../../assets/style/varible.scss';
@import '../../assets/style/mixin.scss';
.service-page{
    width: 100%;
    p{
        margin: 15px 0;
        letter-spacing: 1px;
        line-height: 25px;
    }
}